name: transport image to docker.io

on:
  push:
    branches: [ master ]
  schedule:
    - cron: '0 0 * * *'

jobs:
  quay-io:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: login dockerhub
      run: docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
    - run: /bin/bash -x quay.io/transport.sh
